# 构建产物
build/
output/
tests/**/bin/
tests/**/obj/

demo
demo/**/Library/
demo/**/Temp/
demo/**/Obj/
demo/**/Build/
demo/**/Logs/

# IDE
.vs/
.vscode/
.idea/
*.swp
*~

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
